{{#each this}}
 <ul class="js-list">
        <li class="js-item" id="{{id}}">
           <h1>{{title}}</h1>
           <p>Director: {{director}}</p>
           <p>Genre: {{genre}}</p>
           <p>Year: {{year}}</p>
        </li>
    </ul>
{{/each}}